body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #12d0ff;
    color: white;
    padding: 1em 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f0f0f0;
}

main {
    flex: 1;
    padding: 2em;
    background-color: white;
    margin: 2em auto;
    max-width: 800px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding-bottom: 80px; /* Tambahkan padding-bottom untuk menghindari footer menutupi konten */
}

#highlights {
    background-color: #bce2ef;
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#highlights h2 {
    text-align: center;
    color: #333;
}

.hospital-image {
    width: 100%;
    height: auto;
    margin-top: 1em;
}

footer {
    background-color: #12d0ff;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
}

footer p {
    margin: 0;
}
